In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
from math import sqrt

In [3]:
airbnb=pd.read_csv("AB_NYC_2019.csv")

#Remove unsignificant data
airbnb.drop(['name','id','host_name','last_review'], axis=1, inplace=True)
airbnb.fillna({'reviews_per_month':0}, inplace=True)
airbnb.head(3)

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365

In [51]:
quantiles = pd.qcut(airbnb['price'], q=10, labels=False)

# Map quantiles to categories
categories = ['{}'.format(i+1) for i in quantiles]
airbnb['price_quantile'] = categories

In [81]:
result = airbnb[['neighbourhood_group', 'price_quantile','price','number_of_reviews']].groupby(['neighbourhood_group', 'price_quantile']).agg(['count','mean'])

In [82]:
result.columns = ['Count', 'Mean of Price', 'Count of Reviews', 'Mean of Reviews']
result = result.reset_index()
result = result.drop('Count of Reviews', axis=1)
result = result.drop('price_quantile', axis=1)
result

   neighbourhood_group price_quantile  Count  Mean of Price  Mean of Reviews
0                Bronx              1    314      37.614650        25.248408
1                Bronx             10     34     487.500000         9.088235
2                Bronx              2    185      55.194595        31.940541
3                Bronx              3    162      69.679012        21.401235
4                Bronx              4    127      82.732283        29.110236
5                Bronx              5     91      99.351648        32.000000
6                Bronx              6     79     118.911392        28.417722
7                Bronx              7     57     145.859649        21.403509
8                Bronx              8     31     183.000000        14.322581
9                Bronx              9     11     240.454545        21.818182
10            Brooklyn              1   2749      39.593307        16.531466
11            Brooklyn             10   1150     508.197391        18.897391
12            Brooklyn              2   2663      55.039805        20.176117
13            Brooklyn              3   2595      69.410405        22.908285
14            Brooklyn              4   2075      84.169639        26.441446
15            Brooklyn              5   1912      98.916841        27.397490
16            Brooklyn              6   2195     120.164009        28.968565
17            Brooklyn              7   1753     145.938962        30.078152
18            Brooklyn              8   2107     181.915045        28.453726
19            Brooklyn              9    905     236.434254        25.089503
20           Manhattan              1    722      39.947368        18.045706
21           Manhattan             10   3495     519.495851        13.837196
22           Manhattan              2   1109      55.275924        20.339044
23           Manhattan              3   1555      69.699035        25.787781
24           Manhattan              4   1790      84.362570        27.784916
25           Manhattan              5   1988      99.054829        26.931087
26           Manhattan              6   2436     120.078818        24.365764
27           Manhattan              7   2376     145.700758        21.129630
28           Manhattan              8   3748     183.250800        20.672359
29           Manhattan              9   2442     236.246110        16.466011
30              Queens              1   1157      39.373379        27.610199
31              Queens             10    181     513.574586        18.033149
32              Queens              2   1028      55.057393        32.644942
33              Queens              3    809      69.407911        30.333745
34              Queens              4    623      84.048154        28.845907
35              Queens              5    542      99.005535        28.433579
36              Queens              6    490     119.357143        27.251020
37              Queens              7    346     145.320809        21.315029
38              Queens              8    349     183.340974        20.868195
39              Queens              9    141     239.929078        15.950355
40       Staten Island              1     85      36.964706        34.964706
41       Staten Island             10     18     731.388889        10.000000
42       Staten Island              2     51      53.803922        32.960784
43       Staten Island              3     63      69.968254        40.190476
44       Staten Island              4     36      83.388889        24.777778
45       Staten Island              5     41      99.634146        26.365854
46       Staten Island              6     30     118.833333        31.666667
47       Staten Island              7     20     145.050000        20.400000
48       Staten Island              8     22     187.000000        34.909091
49       Staten Island              9      7     242.714286        11.000000

In [42]:


def categorize_price(price):
    if price < 80.0:
        return 'Below 80$/Night'
    elif price >= 80.0 and price <= 150.0:
        return 'Above 80$ and below 150$/Night'
    else:
        return 'Above 150$/Night'

# Apply the function to create a new column
airbnb['price_category'] = airbnb['price'].apply(categorize_price)

def categorize_price(price):
    if price < 80.0:
        return 'Below 80$/Night'
    elif price >= 80.0 and price <= 150.0:
        return 'Above 80$ and below 150$/Night'
    else:
        return 'Above 150$/Night'

# Apply the function to create a new column
airbnb['price_category'] = airbnb['price'].apply(categorize_price)

In [4]:
airbnb_group = airbnb.groupby('neighbourhood_group')
airbnb_group['price'].agg(['mean'])

                           mean
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332

In [7]:
new_df = airbnb_group.agg({'price': ['count', 'mean']})
new_df.columns = ['Count', 'Mean']
new_df.reset_index()
new_df['Sqrt_Count'] = new_df['Count'].apply(sqrt)
new_df['Sqrt_Mean'] = new_df['Mean'].apply(sqrt)
count_median = new_df['Sqrt_Count'].median()
mean_median = new_df['Sqrt_Mean'].median()

new_df['Sqrt_Count_Div_Median'] = new_df['Sqrt_Count'] / count_median
new_df['Sqrt_Mean_Div_Median'] = new_df['Sqrt_Mean'] / mean_median
new_df[['Count', 'Mean', 'Sqrt_Count_Div_Median', 'Sqrt_Mean_Div_Median']].to_csv('district_scales_data.csv', index=False)
new_df

,Count,Mean,Sqrt_Count,Sqrt_Mean,Sqrt_Count_Div_Median,Sqrt_Mean_Div_Median
neighbourhood_group,,,,,,
Bronx,1091,87.496792,33.030289,9.353972,0.438808,0.872975
Brooklyn,20104,124.383207,141.788575,11.152722,1.883662,1.040846
Manhattan,21661,196.875814,147.176764,14.031244,1.955244,1.309489
Queens,5666,99.517649,75.272837,9.975853,1.000000,0.931013
Staten Island,373,114.812332,19.313208,10.715052,0.256576,1.000000

In [6]:
new_df2 = airbnb_group2 = airbnb.groupby(['neighbourhood_group', 'room_type']).agg({'price': ['count', 'mean']})
new_df2.columns = ['Count', 'Mean']
new_df2.reset_index()
new_df2['Sqrt_Count'] = new_df2['Count'].apply(sqrt)
new_df2['Sqrt_Mean'] = new_df2['Mean'].apply(sqrt)
new_df2

                                     Count        Mean  Sqrt_Count  Sqrt_Mean
neighbourhood_group room_type
Bronx               Entire home/apt    379  127.506596   19.467922  11.291882
                    Private room       652   66.788344   25.534291   8.172414
                    Shared room         60   59.800000    7.745967   7.733046
Brooklyn            Entire home/apt   9559  178.327545   97.770139  13.353934
                    Private room     10132   76.500099  100.657836   8.746433
                    Shared room        413   50.527845   20.322401   7.108294
Manhattan           Entire home/apt  13199  249.239109  114.886901  15.787308
                    Private room      7982  116.776622   89.342039  10.806323
                    Shared room        480   88.977083   21.908902   9.432766
Queens              Entire home/apt   2096  147.050573   45.782093  12.126441
                    Private room      3372   71.762456   58.068925   8.471272
                    Shared room        198   69.020202   14.071247   8.307840
Staten Island       Entire home/apt    176  173.846591   13.266499  13.185090
                    Private room       188   62.292553   13.711309   7.892563
                    Shared room          9   57.444444    3.000000   7.579211

In [8]:
nodes = list(set(airbnb['neighbourhood']).union(set(airbnb['neighbourhood_group'])))
links = []
for i in range(len(airbnb)):
    links.append({'source': airbnb['neighbourhood'].iloc[i], 'target': airbnb['neighbourhood_group'].iloc[i]})

In [23]:
def get_sankey(src,tar):
    grouped_df = airbnb.groupby([src, tar]).size().reset_index(name='value')
    grouped_df = grouped_df.rename(columns={src: 'source', tar: 'target'})
    counts_list = grouped_df.to_dict(orient='records')
    return counts_list

In [43]:
sankey_list1 = get_sankey('neighbourhood_group', 'room_type')
sankey_list2 = get_sankey('room_type', 'price_category')

sankey_list = sankey_list1 + sankey_list2
sankey_list

[{'source': 'Bronx', 'target': 'Entire home/apt', 'value': 379},
 {'source': 'Bronx', 'target': 'Private room', 'value': 652},
 {'source': 'Bronx', 'target': 'Shared room', 'value': 60},
 {'source': 'Brooklyn', 'target': 'Entire home/apt', 'value': 9559},
 {'source': 'Brooklyn', 'target': 'Private room', 'value': 10132},
 {'source': 'Brooklyn', 'target': 'Shared room', 'value': 413},
 {'source': 'Manhattan', 'target': 'Entire home/apt', 'value': 13199},
 {'source': 'Manhattan', 'target': 'Private room', 'value': 7982},
 {'source': 'Manhattan', 'target': 'Shared room', 'value': 480},
 {'source': 'Queens', 'target': 'Entire home/apt', 'value': 2096},
 {'source': 'Queens', 'target': 'Private room', 'value': 3372},
 {'source': 'Queens', 'target': 'Shared room', 'value': 198},
 {'source': 'Staten Island', 'target': 'Entire home/apt', 'value': 176},
 {'source': 'Staten Island', 'target': 'Private room', 'value': 188},
 {'source': 'Staten Island', 'target': 'Shared room', 'value': 9},
 {'source': 'Entire home/apt', 'target': 'Above 150$/Night', 'value': 13452},
 {'source': 'Entire home/apt',
  'target': 'Above 80$ and below 150$/Night',
  'value': 10601},
 {'source': 'Entire home/apt', 'target': 'Below 80$/Night', 'value': 1356},
 {'source': 'Private room', 'target': 'Above 150$/Night', 'value': 1418},
 {'source': 'Private room',
  'target': 'Above 80$ and below 150$/Night',
  'value': 7365},
 {'source': 'Private room', 'target': 'Below 80$/Night', 'value': 13543},
 {'source': 'Shared room', 'target': 'Above 150$/Night', 'value': 68},
 {'source': 'Shared room',
  'target': 'Above 80$ and below 150$/Night',
  'value': 165},
 {'source': 'Shared room', 'target': 'Below 80$/Night', 'value': 927}]

In [44]:
import json

# Assuming you have the dictionary stored in the 'counts_list' variable

# Define the path and filename for the JSON file
json_file = 'data/counts.json'

# Save the dictionary as JSON
with open(json_file, 'w') as file:
    json.dump(sankey_list, file)

In [48]:
dict1 = airbnb[['neighbourhood_group','price','number_of_reviews']].to_dict(orient='records')

In [49]:
import json

# Assuming you have the dictionary stored in the 'counts_list' variable

# Define the path and filename for the JSON file
json_file = 'data/scatter.json'

# Save the dictionary as JSON
with open(json_file, 'w') as file:
    json.dump(dict1, file)